ASPNETCORE_ENVIRONMENT=Production

Auth__Mode=both
Auth__StaticToken=vendelo-static-token
Auth__OAuthClientId=vendelo-client
Auth__OAuthClientSecret=vendelo-secret
Auth__OAuthRedirectUri=https://gql001.vendelo.cloud/api/externalShippingApiAuth
Auth__OAuthRefreshToken=vendelo-oauth-refresh-token
Auth__OAuthAccessToken=vendelo-oauth-access-token
Auth__OAuthExpiresIn=864000
Auth__OAuthTokenType=Bearer

Behavior__EnableDebugRoutes=true
Behavior__ForceErrorForService=

Storage__DataFile=data/db.json
